body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    position: sticky;
    top: 0;
    background-color: rgb(10, 109, 89);
    color: rgb(209, 163, 10);
    padding: 20px;
    border-bottom: 5px solid #23ae23;
    z-index: 1000;
    text-align: center;
}

header nav a {
    color: #210781;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin-top: 30px;
    padding: 20px;
    line-height: 1.7;
}