nav {
    background-color: blueviolet;
    width: 100%;
    display: block;
    padding: 15px 0;
}

nav a {
    display: inline-block;
    padding: 15px 25px;
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: rgb(244, 240, 44);
    color: rgb(46, 92, 54);
}

nav a.active {
    background-color: rgb(182, 72, 158);
    color: black;
}