body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 16px;
}

img1 {
    width: 500px;
    height: 300px;
    border: 2px solid #000;
    border-radius: 10px;

}

button {
    padding: 10px;
    margin: 10px;
    background-color: rgb(33, 163, 68);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}