body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.user {
    position: relative;
    width: 300px;
    padding: 25px;
    border: 5px solid rgb(234, 226, 20);
    background-color: rgb(54, 163, 103);
    border-radius: 20px;
    box-shadow: 0 5px 15px rgb(234, 226, 20);
    text-align: center;
}

.badge {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgb(7, 189, 16);
    color: black;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 15px;
    font-weight: bold;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 2px solid rgb(240, 240, 240);
}

h3 {
    margin: 5px 0;
    font-size: 18px;
    text-transform: uppercase;
}

p {
    color: rgb(15, 234, 26);
    font-size: 13px;
    line-height: 1.5;
    margin-top: 10px;
}