    body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        #about {
            background-color: moccasin;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;

        }

        #education {
            background-color: lightgreen;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
        }

        #hobbies {
            background-color: lightblue;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
        }

        hr {
            height: 5px;
            background-color: gray;
            width: 80%;
            border: none;
            margin: 20px auto;
        }