body {
    height: 400px;
    position: relative;
}

#box1 {
    width: 150px;
    height: 100px;
    background: rgb(255, 234, 0);
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
    padding: 10px;
    border: 2px solid black;
}

#box2 {
    width: 150px;
    height: 100px;
    background: blue;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 2;
    padding: 10px;
    border: 2px solid black;
    color: white;
}

#box3 {
    width: 150px;
    height: 100px;
    background: green;
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 3;
    padding: 10px;
    border: 2px solid black;
}