#visible {
    width: 300px;
    height: 200px;
    background-color: aqua;
    border: 2px solid black;
    padding: 10px;
    overflow: visible;
    margin-bottom: 20px;
}


#hidden {
    width: 300px;
    height: 200px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(16, 89, 145);
    padding: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}


#scroll {
    width: 300px;
    height: 200px;
    background-color: lightgreen;
    border: 2px solid black;
    padding: 10px;
    overflow: scroll;
    margin-bottom: 20px;
}


#auto {
    width: 300px;
    height: 200px;
    background-color: lightcoral;
    border: 2px solid black;
    padding: 10px;
    overflow: auto;
    margin-bottom: 20px;
}